$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower


// custom imports
@import "sass/_variables";
@import "sass/_components.scss";
@import "sass/_forms";
@import "sass/_navigation.scss";
@import "sass/_fonts.scss";
@import "sass/_effects.scss";
@import "sass/_yeoman-stuff.scss";
@import "sass/_modals.scss";
// end


html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.search-toolbar {
  background-color: white;
}
