$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower


// custom imports
@import "sass/_variables";
@import "sass/_components.scss";
@import "sass/_forms";
@import "sass/_navigation.scss";
@import "sass/_fonts.scss";
@import "sass/_effects.scss";
@import "sass/_yeoman-stuff.scss";
@import "sass/_modals.scss";
// end


html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.search-toolbar {
  background-color: white;
}

// Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

