$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower


// custom imports
@import "sass/_variables";
@import "sass/_components.scss";
@import "sass/_forms";
@import "sass/_navigation.scss";
@import "sass/_fonts.scss";
@import "sass/_effects.scss";
@import "sass/_yeoman-stuff.scss";
// end


html {
  height: 100%;
}

body {
  font-family: $open-sans;
}

.material-icons.md-24 { font-size: 24px; }


@media (min-width: 992px) {
  .hidden-md {
    visibility: hidden;
  }
}

.error-text {
  color: #F44336;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
