<div layout="row">
  <div flex></div>
  <div>
    <div layout="row" layout-sm="column" layout-xs="column" class="cards-row" layout-fill
         layout-align="start center" ng-repeat="row in (vm.events.length/vm.cardsPerRow | array)">
      <md-card ng-repeat="event in vm.events.slice(vm.cardsPerRow*$index, vm.cardsPerRow*$index + vm.cardsPerRow) | orderBy:'-name'"
               ng-mouseover="hover = true" ng-mouseleave="hover = false" ng-class="{'md-whiteframe-6dp':hover, 'md-whiteframe-1dp':!hover}">
        <img ng-src="{{ event.act.imageUri || 'http://images4.fanpop.com/image/photos/20700000/rhcp-red-hot-chili-peppers-20776698-754-746.jpg' }}" alt="" class="md-card-image">
        <md-card-title>
          <md-card-title-text>
            <span>{{ event.name }}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p></p>
        </md-card-content>
      </md-card>
    </div>
  </div>
  <div flex>
  </div>
</div>
