<div layout="column" layout-align="center center" class="auth-container">
  <div class="md-padding" layout="row" layout-fill="" layout-align="center center">
    <div flex=""><!-- filler --></div>
    <md-card flex-xs="100" flex-sm="55" flex-gt-md="30" layout-padding="">
      <md-card-content class="card-header" layout-align="center center" layout="column" style="padding-top:20px;">
        <md-header>
          <span class="form md-title">Sign In</span>
        </md-header>
        <md-card-content layout-fill="">
          <form name="loginForm" layout-align="center center" ng-submit="vm.login(vm.user)" novalidate style="padding-top:20px;">
            <md-input-container class="md-block" md-is-error="loginForm.$submitted && loginForm.$invalid">
              <label>Username (Required)</label>
              <input name="username" ng-model="vm.user.username" ng-required="true" class="invalid">
              <div ng-messages="loginForm.username.$error" ng-show="loginForm.$submitted || loginForm.username.$dirty">
                <span ng-message="required">Username is a required field!</span>
              </div>
            </md-input-container>
            <md-input-container class="md-block" md-is-error="loginForm.$submitted && loginForm.$invalid">
              <label>Password (Required)</label>
              <input type="password" name="password" ng-model="vm.user.password" ng-required="true">
              <div ng-messages="loginForm.password.$error" ng-show="loginForm.$submitted || loginForm.password.$dirty">
                <span ng-message="required">Password is a required field!</span>
              </div>
            </md-input-container>
            <div layout="row" layout-align="center center" layout-fill>
              <md-button type="submit" class="md-raised md-accent md-hue-1" layout-fill layout-padding>Sign In</md-button>
            </div>
            <div layout-padding style="margin-bottom:-40px;">
              <md-checkbox ng-model="stayLoggedIn" aria-label="Stay signed in">
              Stay signed in
              </md-checkbox>
            </div>
          </form>
        </md-card-content>
      </md-card-content>
    </md-card>
    <div flex=""><!-- filler --></div>
  </div>
</div>
