<span style="overflow: auto" flex="40" layout-align="center center" ng-cloak flex-sm flex-xs>
  <md-dialog ng-show="vm.act.description">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ vm.act.name }}</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div>
          {{ !vm.readMore ? (vm.act.description | limitTo: 250) + '...' : vm.act.description }}
        </div>
        <div layout-align="center center" layout="row">
          <md-button ng-click="vm.readMore = !vm.readMore" class="md-primary">
            {{ !vm.readMore ? 'READ MORE' : 'SHOW LESS'}}
          </md-button>
        </div>
      </div>
    </md-dialog-content>
  </md-dialog>
  <md-dialog>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>General Information</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="column">
          <p ng-if="vm.act.website"><a ng-href="{{ vm.act.website }}" target="_blank"><md-icon class="material-design-icons">exit_to_app</md-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{ vm.act.website }}</a></p>
          <p ng-if="vm.act.phone"><a ng-href="{{ 'tel:' + vm.act.phone }}" target="_blank"><md-icon class="material-design-icons">phone</md-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{ vm.act.phone }}</a></p>
          <p ng-if="vm.act.email"><a ng-href="{{ 'mailto:' + vm.act.email }}"><md-icon class="material-design-icons">email</md-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{ vm.act.email }}</a></p>
          <p>
            <md-icon md-svg-icon="location_searching" class="grey-icon"></md-icon>&nbsp;&nbsp;&nbsp;
            <span ng-if="vm.act.city">{{ vm.act.city.name }}, </span>
            <span ng-if="vm.act.city.name != vm.act.county.name">{{ vm.act.county.name }}, </span>
            <span>{{ vm.act.country.niceName }}</span>
          </p>
        </div>
        <div layout="row" layout-align="center center">
          <p>
            <a ng-href="{{ vm.act.facebook }}" target="_blank" ng-if="vm.act.facebook"><img id="facebook" class="social-icon" src="../../assets/img/FB-f-Logo__blue_50.png" alt="Facebook"/></a>
            <a ng-href="{{ vm.act.twitter }}" target="_blank" ng-if="vm.act.twitter"><img id="twitter" class="social-icon" src="../../assets/img/Twitter_logo_blue.png" alt="Twitter"/></a>
            <a ng-href="{{ vm.act.googlePlus }}" target="_blank" ng-if="vm.act.googlePlus"><img id="google-plus" class="social-icon" src="../../assets/img/btn_google+_dark_normal.png" alt="Google+"/></a>
          </p>
        </div>
      </div>
    </md-dialog-content>
  </md-dialog>
</span>

<style>
  a {
    text-decoration: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  md-dialog {
    margin-bottom:15px;
  }
</style>
