<md-dialog aria-label="Create a act" ng-cloak flex="35">
  <form name="addActForm" ng-submit="vm.save(vm.act)" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1>Create an act</h1>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row">
          <md-input-container class="md-block" flex md-select-on-focus>
            <label>Name (Required)</label>
            <input ng-model="vm.act.name" name="name" required>
            <div ng-messages="addActForm.name.$error" ng-show="addActForm.$submitted || addActForm.name.$dirty">
              <span ng-message="required">You must provide an act name.</span>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="50">
            <label>Category (Required)</label>
            <md-select ng-model="vm.act.category" name="category" required>
              <md-option ng-repeat="category in vm.actCategories | orderBy: 'name'" ng-value="category">
                {{ category.name }}
              </md-option>
            </md-select>
            <div ng-messages="addActForm.type.$error" ng-show="addActForm.$submitted || addActForm.type.$dirty">
              <span ng-message="required">You must select an act type.</span>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm="50">
            <label>Type(s) (Required)</label>
            <md-select name="type" multiple ng-model="vm.act.types" ng-model-options="{trackBy: '$value.id'}">
              <md-option ng-repeat="type in vm.act.category.types | orderBy: 'name'" ng-value="type">
                {{ type.name }}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Genre(s) (Required)</label>
            <md-select ng-model="vm.act.genres" name="genres" required multiple="true" ng-disabled="!vm.act.category">
              <md-option ng-repeat="genre in vm.act.category.genres ? vm.act.category.genres : vm.genres | orderBy: 'name'" ng-value="genre">
                {{ genre.name }}
              </md-option>
            </md-select>
            <div ng-messages="addActForm.type.$error" ng-show="addActForm.$submitted || addActForm.type.$dirty">
              <span ng-message="required">You must select an act type.</span>
            </div>
          </md-input-container>
        </div>
        <div layout="row">
          <md-autocomplete md-selected-item="vm.act.country"
                           placeholder="Country"
                           ng-model="vm.act.country"
                           flex md-search-text="vm.searchText" name="country"
                           md-floating-label="Country"
                           md-selected-item-change="vm.getCountiesForCountry(country.id)"
                           ng-model-options="{trackBy: '$value.id'}"
                           md-items="country in vm.countries | filter: vm.searchText | orderBy: 'name'"
                           md-item-text="country.niceName">
            <md-item-template>
              <span>{{ country.niceName }}</span>
            </md-item-template>
            <md-not-found>
              No countries matching "{{ vm.searchText }}" found.
            </md-not-found>
          </md-autocomplete>
          <div ng-messages="addActForm.country.$error"
               ng-show="addActForm.$submitted">
            <span ng-message="required">You must select a country.</span>
          </div>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>County/State (Required)</label>
            <md-select name="county" required ng-model="vm.act.county"
                       ng-change="vm.getCitiesForCounty(vm.act.county.id)" ng-model-options="{trackBy: '$value.id'}">
              <md-option ng-repeat="county in vm.counties | orderBy: 'name'" ng-value="county">
                {{ county.name }}
              </md-option>
            </md-select>
            <div ng-messages="addActForm.county.$error" ng-show="addActForm.$submitted">
              <span ng-message="required">You must select a county/state.</span>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>City/Town</label>
            <md-select name="city" ng-model="vm.act.city" ng-model-options="{trackBy: '$value.id'}">
              <md-option ng-repeat="city in vm.cities | orderBy: 'name'" ng-value="city">
                {{ city.name }}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="vm.cancel()">
        Cancel
      </md-button>
      <md-button type="submit" ng-disabled="addActForm.$pristine" class="md-primary" style="margin-right:20px;">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
  <div layout="column" layout-align="center center" class="progress-circle-container" ng-if="vm.showProgress">
    <md-progress-circular md-mode="indeterminate" class="md-accent"></md-progress-circular>
  </div>
</md-dialog>
