<div layout="row">
  <div class="venue-container">
    <div class="backdrop-container" layout-align="center start" layout="row">
      <img ng-src="{{ vm.venue.backdropUri || '../../assets/img/backdrop.jpg' }}" alt="backdrop" class="md-whiteframe-5dp">
    </div>
    <div layout="row" class="backdrop-tools" layout-wrap>
      <div class="profile-picture main">
        <img ng-src="{{ vm.venue.imageUri || '../../assets/img/venue-card.png' }}" alt="Profile Picture" class="md-whiteframe-5dp">
      </div>
      <div class="title">
        <h1>{{ vm.venue.name }}</h1>
        <h3>
          {{ vm.venue.type.name }} in {{ vm.venue.county.name }}<span ng-if="vm.venue.county">,</span> {{ vm.venue.country.niceName }}
          <md-icon ng-if="vm.venue.rating" ng-repeat="star in vm.ratingArray() track by $index" style="color:#FFC107;margin-top:-3px;" class="material-design-icons">star</md-icon>
          <md-icon ng-if="vm.venue.rating && vm.ratingHasHalfStar()" style="color:#FFC107;margin-left:-5px;margin-top:-3px;" class="material-design-icons">star_half</md-icon>
        </h3>
      </div>
      <div flex=""></div>
      <div class="action-buttons">
        <md-button class="md-icon-button" ng-click="vm.showVenueInfo($event);">
          <md-icon class="material-design-icons" style="color: #EEEEEE">info_outline</md-icon>
        </md-button>
        <md-button class="md-icon-button">
          <md-icon class="material-design-icons" style="color: #EEEEEE">more_vert</md-icon>
        </md-button>
        <md-button class="md-raised" ng-if="vm.user && !vm.userVenue.admin">{{ vm.user.following ? 'Unfollow' : 'Follow' }}</md-button>
        <md-button class="md-raised" ng-if="vm.userVenue.admin">Edit</md-button>
      </div>
    </div>
  </div>
</div>
<md-fab-speed-dial md-open="vm.fabIsOpen" md-direction="up" class="fixed bottom right md-scale">
  <md-fab-trigger>
    <md-button class="md-fab">
      <md-icon class="material-design-icons">add</md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button aria-label="Add event" class="md-fab md-raised md-mini" ng-click="vm.showAddEventDialog($event);" ng-if="vm.userVenue.admin">
      <md-icon class="material-design-icons">event</md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>
