<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!--<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>-->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbuild -->
  </head>
  <body ng-app="app" ng-controller="ApplicationCtrl" layout="column" ng-cloak style="overflow-y: hidden">
<!--     [if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif] -->

    <div ng-controller="NavigationCtrl as navCtrl">
      <div>
        <md-toolbar class="md-whiteframe-6dp" hide-xs hide-sm>
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="toggleSidenav('left')" aria-label="Menu">
              <md-icon class="material-icons">menu</md-icon>
            </md-button>
            <span flex></span>
            <span></span>
            <span>
               <md-menu md-position-mode="target-right target">
                 <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                   <md-icon md-menu-origin="" class="material-design-icons">more_vert</md-icon>
                 </md-button>
                 <md-menu-content width="3">
                   <md-menu-item ng-controller="LogoutCtrl">
                     <md-button ng-click="confirmLogout($event)" ng-if="isLoggedIn">
                       <div layout="row">
                         <p flex="">Log Out</p>
                         <md-icon md-menu-align-target="" style="margin: auto 3px auto 0;" class="material-design-icons">exit_to_app</md-icon>
                       </div>
                     </md-button>
                   </md-menu-item>
                 </md-menu-content>
               </md-menu>
            </span>
          </div>
        </md-toolbar>
        <md-toolbar ng-show="!showSearch" class="md-whiteframe-6dp" hide-gt-sm>
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="toggleSidenav('leftSmall')" aria-label="Menu">
              <md-icon class="material-icons">menu</md-icon>
            </md-button>
            <span flex></span>
            <md-button aria-label="Search" class="md-icon-button" ng-click="showSearch = !showSearch">
              <md-icon class="material-icons">search</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-toolbar ng-show="showSearch" class="md-whiteframe-6dp" hide-gt-sm>
          <div class="md-toolbar-tools">
            <md-button ng-click="showSearch = !showSearch" class="md-icon-button" aria-label="Back">
              <md-icon class="material-icons">arrow_back</md-icon>
            </md-button>
            <md-input-container flex layout="center center">
              <label>&nbsp;</label>
              <input type="text" ng-model="search" placeholder="Search" md-autofocus>
            </md-input-container>
            <md-button aria-label="Search" class="md-icon-button" ng-click="showSearch = !showSearch">
              <md-icon class="material-icons">search</md-icon>
            </md-button>
          </div>
        </md-toolbar>
      </div>
      <div layout="row">
        <md-sidenav class="md-sidenav-left md-whiteframe-6dp" md-component-id="leftSmall">
        </md-sidenav>
        <md-content>
          <md-sidenav md-component-id="left" id="sidenav-left" md-is-locked-open="lockLeft && $mdMedia('gt-sm')">
            <md-list ng-repeat="section in menu">
              <md-subheader class="md-no-sticky">
                <span>{{ section.title }}</span>
              </md-subheader>
              <md-list-item href="{{ item.href }}" class="nav-list-item" ng-if="item.isVisible && item.title != 'Log Out'" ng-repeat="item in section.items">
                <md-item-content layout="row" layout-align="start center" class="content">
                  <div class="inset">
                    <md-icon ng-if="item.icon.md" class="material-icons md-24">{{ item.icon.text }}</md-icon>
                    <md-icon ng-if="!item.icon.md" class="{{ item.icon.text }}" style="font-size:24px"></md-icon>
                  </div>
                  <div class="inset">
                    {{ item.title }}
                  </div>
                </md-item-content>
              </md-list-item>
              <md-divider></md-divider>
              <div layout="autofill"></div>
            </md-list>
          </md-sidenav>
        </md-content>
        <md-content ui-view="main" flex layout="column" layout-padding style="height:100vh"></md-content>
        </div>
      </div>
    </div>


    <!--&lt;!&ndash; Google Analytics: change UA-XXXXX-X to be your site's ID &ndash;&gt;-->
     <!--<script>-->
       <!--!function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){-->
       <!--(A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),-->
       <!--r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)-->
       <!--}(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->

       <!--ga('create', 'UA-XXXXX-X');-->
       <!--ga('send', 'pageview');-->
    <!--</script>-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- custom js-->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/user/login.js"></script>
        <script src="scripts/services/user/userservice.js"></script>
        <script src="scripts/controllers/user/signup.js"></script>
        <script src="scripts/directives/user/usernameexists.js"></script>
        <script src="scripts/directives/user/emailexists.js"></script>
        <script src="scripts/directives/user/passwordstrength.js"></script>
        <script src="scripts/controllers/application.js"></script>
        <script src="scripts/services/user/authservice.js"></script>
        <script src="scripts/services/auth_events.js"></script>
        <script src="scripts/services/user_roles.js"></script>
        <script src="scripts/services/countryservice.js"></script>
        <script src="scripts/controllers/toast.js"></script>
        <script src="scripts/controllers/logout.js"></script>
        <script src="scripts/controllers/navigation.js"></script>
        <!-- endbuild -->
</body>
</html>
