<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Giggle</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) assets/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/ng-img-crop/compile/minified/ng-img-crop.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) assets/main.css -->
    <link rel="stylesheet" href="assets/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbuild -->
  </head>
  <body ng-app="app" layout="column" ng-controller="ApplicationCtrl as application">
    <md-progress-linear ng-show="application.showProgress" md-mode="indeterminate" class="md-accent hue-1"
                        style="height:2px;"></md-progress-linear>
<!--     [if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif] -->
    <md-toolbar hide-xs hide-sm>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="application.toggleSidenav('left')" aria-label="Menu">
          <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <span flex></span>
        <span>
                 <md-menu md-position-mode="target-right target" ng-if="application.isLoggedIn">
                   <md-button aria-label="Open more menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                     <md-icon md-svg-icon="more_vert"></md-icon>
                   </md-button>
                   <md-menu-content width="3">
                     <md-menu-item>
                       <md-button ng-click="application.editAccount(event)">
                         <div layout="row">
                           <p flex="">Edit Account</p>
                           <md-icon md-menu-align-target="" style="margin: auto 3px auto 0;" md-svg-icon="settings"
                                    class="grey"></md-icon>
                         </div>
                       </md-button>
                     </md-menu-item>
                     <md-menu-item ng-controller="LogoutCtrl as logout">
                       <md-button ng-click="logout.logout(event)">
                         <div layout="row">
                           <p flex="">Sign Out</p>
                           <md-icon md-menu-align-target="" style="margin: auto 3px auto 0;" md-svg-icon="exit_to_app"
                                    class="grey"></md-icon>
                         </div>
                       </md-button>
                     </md-menu-item>
                   </md-menu-content>
                 </md-menu>
              </span>
      </div>
      <div layout="row" layout-align="center center">
        <span flex="20"></span>
        <span flex ui-view="tabs"></span>
        <span flex="10"></span>
      </div>
    </md-toolbar>
    <md-toolbar ng-show="!application.showSearch" hide-gt-sm>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="application.toggleSidenav('leftSmall')" aria-label="Menu">
          <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <span flex></span>
        <md-button aria-label="Search" class="md-icon-button" ng-click="application.showSearch = !application.showSearch">
          <md-icon md-svg-icon="search"></md-icon>
        </md-button>
      </div>
      <!--<div layout="row">-->
      <!--<span flex="5"></span>-->
      <!--<span ui-view="tabs"></span>-->
      <!--</div>-->
    </md-toolbar>
    <md-toolbar ng-show="application.showSearch" hide-gt-sm>
      <div class="md-toolbar-tools">
        <md-button ng-click="application.showSearch = !application.showSearch" class="md-icon-button" aria-label="Back">
          <md-icon md-svg-icon="arrow_back"></md-icon>
        </md-button>
        <md-input-container flex layout="center center">
          <label>&nbsp;</label>
          <input type="text" ng-model="search" placeholder="Search" md-autofocus>
        </md-input-container>
        <md-button aria-label="Search" class="md-icon-button" ng-click="application.showSearch = !application.showSearch">
          <md-icon md-svg-icon="search"></md-icon>
        </md-button>
      </div>
      <div layout="row">
      </div>
    </md-toolbar>

    <div layout="row" flex="">
      <div layout="column">
        <md-sidenav hide-gt-sm md-component-id="leftSmall">
          <md-toolbar class="md-theme-indigo md-tall">

          </md-toolbar>
          <md-list ng-repeat="section in application.menu">
            <md-subheader class="md-no-sticky">
              <span>{{ section.title }}</span>
            </md-subheader>
            <md-list-item ui-sref="{{ item.state }}" class="nav-list-item" ng-if="item.isVisible && item.title != 'Sign Out'" ng-repeat="item in section.items">
              <md-item-content layout="row" layout-align="start center" class="content">
                <div class="inset">
                  <md-icon ng-if="item.icon.md" md-svg-icon="{{ item.icon.text }}"></md-icon>
                  <md-icon ui-sref="{{ item.state }}" ui-sref-active="active" ng-if="!item.icon.md" md-font-set="fa" style="font-size: 24px">&#xf1e3</md-icon>
                </div>
                <div class="inset">
                  {{ item.title }}
                </div>
              </md-item-content>
            </md-list-item>
            <md-divider></md-divider>
          </md-list>
        </md-sidenav>
        <md-sidenav layout="column" md-component-id="left" id="sidenav-left" md-is-locked-open="application.lockLeft && $mdMedia('gt-sm')">
          <md-list ng-repeat="section in application.menu">
            <md-subheader class="md-no-sticky">
              <span>{{ section.title }}</span>
            </md-subheader>
            <md-list-item ui-sref="{{ item.state }}" class="nav-list-item" ui-sref-active="active"
                          ng-if="item.isVisible && item.title != 'Sign Out'" ng-repeat="item in section.items">
              <md-item-content layout="row" layout-align="start center" class="content">
                <div class="inset">
                  <md-icon ui-sref="{{ item.state }}" ui-sref-active="active" ng-if="item.icon.md" md-svg-icon="{{ item.icon.text }}"></md-icon>
                  <md-icon ui-sref="{{ item.state }}" ui-sref-active="active" ng-if="!item.icon.md" md-font-set="fa" style="font-size: 24px;">&#xf1e3</md-icon>
                </div>
                <div class="inset">
                  {{ item.title }}
                </div>
              </md-item-content>
            </md-list-item>
            <md-divider></md-divider>
          </md-list>
        </md-sidenav>
      </div>
      <div layout="column" flex>
        <md-content layout="column" flex class="md-padding" ui-view="main">
        </md-content>
      </div>
    </div>

    <!--&lt;!&ndash; Google Analytics: change UA-XXXXX-X to be your site's ID &ndash;&gt;-->
     <!--<script>-->
       <!--!function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){-->
       <!--(A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),-->
       <!--r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)-->
       <!--}(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->

       <!--ga('create', 'UA-XXXXX-X');-->
       <!--ga('send', 'pageview');-->
    <!--</script>-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/spring-security-csrf-token-interceptor/src/spring-security-csrf-token-interceptor.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ng-img-crop/compile/minified/ng-img-crop.js"></script>
    <script src="bower_components/ng-lodash/build/ng-lodash.js"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="bower_components/sprintf/src/sprintf.js"></script>
    <script src="bower_components/angular-ellipsis/src/angular-ellipsis.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=onGoogleReady"></script>-->
    <!-- custom js-->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="src/app.js"></script>
        <script src="src/home/controllers/main.js"></script>
        <script src="src/about/controllers/about.js"></script>
        <script src="src/user/login/controllers/login.js"></script>
        <script src="src/user/components/services/userapiservice.js"></script>
        <script src="src/user/signup/controllers/signup.js"></script>
        <script src="src/user/components/directives/usernameexists.js"></script>
        <script src="src/user/components/directives/emailexists.js"></script>
        <script src="src/user/components/directives/passwordstrength.js"></script>
        <script src="src/common/controllers/application.js"></script>
        <script src="src/user/components/services/authservice.js"></script>
        <script src="src/user/components/constants/auth_events.js"></script>
        <script src="src/user/components/constants/user_roles.js"></script>
        <script src="src/common/services/countryapiservice.js"></script>
        <script src="src/user/logout/controllers/logout.js"></script>
        <script src="src/common/controllers/navigation.js"></script>
        <script src="src/common/services/notificationservice.js"></script>
        <script src="src/user/account/controllers/editaccount.js"></script>
        <script src="src/common/services/navigationmenuservice.js"></script>
        <script src="src/venues/controllers/venues.js"></script>
        <script src="src/venues/controllers/myvenues.js"></script>
        <script src="src/venues/services/venueapiservice.js"></script>
        <script src="src/common/filters/array.js"></script>
        <script src="src/venues/controllers/venue.js"></script>
        <script src="src/venues/controllers/add-venue.js"></script>
        <script src="src/venues/controllers/venue-information.js"></script>
        <script src="src/common/services/googlemapsapiservice.js"></script>
        <script src="src/events/controllers/events.js"></script>
        <script src="src/events/services/eventsapiservice.js"></script>
        <script src="src/events/controllers/addevent.js"></script>
        <script src="src/acts/services/actapiservice.js"></script>
        <script src="src/common/services/dateservice.js"></script>
        <script src="src/events/controllers/event.js"></script>
        <script src="src/events/controllers/recommendedevents.js"></script>
        <script src="src/common/services/layoutservice.js"></script>
        <script src="src/acts/controllers/acts.js"></script>
        <script src="src/acts/controllers/act.js"></script>
        <script src="src/acts/controllers/myacts.js"></script>
        <script src="src/acts/controllers/addact.js"></script>
        <script src="src/acts/controllers/actinfo.js"></script>
        <script src="src/events/controllers/eventinfo.js"></script>
        <script src="src/common/services/currencyapiservice.js"></script>
        <script src="src/venues/controllers/editvenue.js"></script>
        <script src="src/acts/services/actfactory.js"></script>
        <script src="src/events/filters/cityfilter.js"></script>
        <script src="src/events/filters/daterangefilter.js"></script>
        <!-- endbuild -->
</body>
</html>
