<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="styles/css/component.css"/>
    <link rel="stylesheet" href="styles/css/normalize.css"/>
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body ng-app="app" ng-controller="ApplicationCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <md-sidenav class="md-sidenav-left md-whiteframe-2dp" md-component-id="left">
      <md-whiteframe class="md-whiteframe-2dp">
        <md-toolbar class="md-tall md-hue-1">
          <span flex></span>
          <div layout="column" class="md-toolbar-tools-bottom inset">
            <user-avatar></user-avatar>
            <span></span>
            <div>{{ user.name }}</div>
            <div>{{ user.username }}</div>
          </div>
        </md-toolbar>
      </md-whiteframe>
      <md-list>
        <md-list-item ng-repeat="item in menu" ng-href="{{ item.link }}">
          <md-item-content md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
              <md-icon class="material-icons">{{ item.icon }}</md-icon>
            </div>
            <div class="inset">
              {{ item.title }}
            </div>
          </md-item-content>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-repeat="item in admin" ng-href="{{ item.link }}">
          <md-item-content md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
              <md-icon class="material-icons">{{ item.icon }}</md-icon>
            </div>
            <div class="inset">
              {{ item.title }}
            </div>
          </md-item-content>
        </md-list-item>
        <div layout="autofill"></div>
      </md-list>
    </md-sidenav>
    <div layout="column" layout-fill role="main">
      <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="toggleSideNav('left')" aria-label="Menu">
            <md-icon class="material-icons">menu</md-icon>
          </md-button>
          <h2>
            <!-- TODO: change to current location breadcrumb maybe?-->
            Giggle
          </h2>
          <span flex></span>
          <md-button aria-label="Search" class="md-icon-button" ng-click="showSearch = !showSearch">
            <md-icon class="material-icons">search</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-toolbar ng-show="showSearch" class="md-whiteframe-2dp md-background" style="background-color: #FAFAFA">
        <div class="md-toolbar-tools">
          <md-button ng-click="showSearch = !showSearch" class="md-icon-button" aria-label="Back">
            <md-icon class="material-icons" style="color:black">arrow_back</md-icon>
          </md-button>
          <md-input-container md-theme="input" flex layout="center center">
            <label>&nbsp;</label>
            <input type="text" ng-model="search" placeholder="Search" style="border-bottom-color: black">
          </md-input-container>
          <md-button aria-label="Search" class="md-icon-button" ng-click="showSearch = !showSearch">
            <md-icon class="material-icons" style="color:black">search</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-content flex="">
        <div class="container" ng-view=""></div>
      </md-content>
    </div>



      <!--<div class="container">-->
        <!--<div ng-view="">-->
        <!--</div>-->
      <!--</div>-->

    <!--&lt;!&ndash; Google Analytics: change UA-XXXXX-X to be your site's ID &ndash;&gt;-->
     <!--<script>-->
       <!--!function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){-->
       <!--(A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),-->
       <!--r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)-->
       <!--}(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->

       <!--ga('create', 'UA-XXXXX-X');-->
       <!--ga('send', 'pageview');-->
    <!--</script>-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/ng-password-strength/dist/scripts/ng-password-strength.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- custom js-->
    <script src="scripts/js/navigation.js"></script>
    <script src="scripts/js/classie.js"></script>
    <script src="scripts/js/modernizr.custom.js"></script>
    <script src="scripts/js/clickeffects.js"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/user/login.js"></script>
        <script src="scripts/services/user/userapiservice.js"></script>
        <script src="scripts/controllers/user/signup.js"></script>
        <script src="scripts/directives/user/usernameexists.js"></script>
        <script src="scripts/directives/user/emailexists.js"></script>
        <script src="scripts/directives/user/passwordstrength.js"></script>
        <script src="scripts/controllers/application.js"></script>
        <script src="scripts/services/user/authservice.js"></script>
        <script src="scripts/services/auth_events.js"></script>
        <script src="scripts/services/user_roles.js"></script>
        <script src="scripts/services/session.js"></script>
        <!-- endbuild -->
</body>
</html>
