/*h1, h2, h3, h4, h5, h6, .md-title, .brand-title {
  font-family: "Droid Sans", sans-serif;
}

* {
  font-family: "Open Sans", Roboto, "Helvetica Neue", sans-serif;
}

.brand-title {
  font-size: 28px;
  letter-spacing: 1px;
}

.md-title {
  font-size: 36px;
}*/
