$gray: #eee;

md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  md-icon {
    //position: relative;
    //top: 5px; // adjust for svg viewbox
  }
}
.user-avatar {
  border-radius: 99%;
}

.brand-title > a {
  font-size: 28px;
}

.sidenav-container {
  .sidenav-left {
    overflow-y: auto;
    max-width: 215px;
    height: 91vh;
    font-size: 14px;
    > md-list  {
      > md-list-item {
        border-radius: 15px;
        height: 48px;
        line-height: 48px;
        > a {
          display: inline-block;
          vertical-align: middle;
          line-height: normal;
          > div.md-list-item-inner {
            > md-item-content {
              div.inset {
                padding:0 25px 0 0;
              }
            }
          }
        }
      }
      md-divider {
        margin: 5px 10px 1px 5px; // top, right, bottom, left
      }
    }
  }
}
