<md-dialog aria-label="Create an event" ng-cloak flex-gt-sm="35" flex style="max-height: 80vh">
  <form name="addEventForm" ng-submit="vm.save(vm.event)" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1>Create event</h1>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="column" layout-align="center center">
          <div layout-margin>
            <md-button ngf-select ng-model="vm.photo" ngf-pattern="'image/*'" ngf-accept="'image/*'"
                       class="md-icon-button" ngf-max-size="20MB">
              <md-icon md-svg-icon="add_a_photo"></md-icon>
              <md-tooltip md-direction="bottom">
                Upload cover photo
              </md-tooltip>
            </md-button>
          </div>
          <img ng-if="vm.photo" ngf-src="vm.photo" width="100%;" style="margin-top: 5px;margin-bottom:20px;">
        </div>
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Name</label>
            <input ng-model="vm.event.name" name="name" required>
            <div ng-messages="addEventForm.name.$error" ng-show="addEventForm.$submitted">
              <span ng-message="required">You must provide an event name.</span>
            </div>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Description</label>
            <textarea ng-model="vm.event.description"></textarea>
          </md-input-container>
        </div>
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-sm="65" flex>
            <label>Type (Required)</label>
            <md-select ng-model="vm.event.type" name="type" required>
              <md-option ng-repeat="type in vm.eventTypes" ng-value="type">
                {{ type.name }}
              </md-option>
            </md-select>
            <div ng-messages="addEventForm.type.$error" ng-show="addEventForm.$submitted">
              <span ng-message="required">You must select an event type.</span>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Price ({{ vm.currentUser.country.currency }})</label>
            <input ng-model="vm.event.price">
          </md-input-container>
        </div>
        <div layout="row" ng-if="vm.event.type.name != 'Festival'">
          <md-tooltip md-direction="top">
            If you can't who you're looking for, just leave this blank.
          </md-tooltip>
          <md-autocomplete md-selected-item="vm.event.act"
                           placeholder="Select the act that will be performing at your event"
                           flex md-search-text="vm.searchText" name="act"
                           md-floating-label="Select the act that will be performing at your event"
                           md-items="act in vm.acts | filter: vm.searchText" ng-if="vm.ownerType == 'venue'"
                           md-menu-class="act-autocomplete"
                           md-item-text="act.name">
            <md-item-template>
              <span class="item-title">
                <span>{{ act.name }}</span>
              </span>
              <span class="item-subtitle">
                <md-icon md-svg-icon="location_on"></md-icon>
                <span>{{ act.county.name }}, {{ act.country.niceName }}</span>
              </span>
            </md-item-template>
            <md-not-found>
              No acts matching "{{ vm.searchText }}" found.
              <a>Invite them!</a>
            </md-not-found>
          </md-autocomplete>
          <div ng-messages="addEventForm.act.$error"
               ng-show="addEventForm.$submitted">
            <span ng-message="required">You must select an act.</span>
          </div>
          <md-autocomplete md-selected-item="vm.event.venue" placeholder="Select the venue you will be performing at"
                           md-floating-label="Select the venue you will be performing at"
                           flex md-search-text="searchText" md-items="venue in vm.venues | filter: searchText"
                           md-menu-class="venue-autocomplete"
                           ng-if="vm.ownerType == 'act'" md-item-text="venue.name">
            <md-item-template>
              <span class="item-title">
                <span>{{ venue.name }}</span>
              </span>
              <span class="item-subtitle">
                <md-icon md-svg-icon="location_on"></md-icon>
                <span>{{ venue.county.name }}, {{ venue.country.niceName }}</span>
              </span>
            </md-item-template>
            <md-not-found>
              No venues matching "{{ vm.searchText }}" found.
              <a>Invite them!</a>
            </md-not-found>
          </md-autocomplete>
        </div>
        <div layout-gt-xs="row">
          <md-datepicker ng-model="vm.event.startDate" md-placeholder="Start Date"
                         style="background-color: white" md-min-date="vm.today"></md-datepicker>
          <div ng-messages="addEventForm.startDate.$error" ng-show="addEventForm.$submitted || addEventForm.startDate.$dirty">
            <span ng-message="mindate">Start date can't be in the past.</span>
          </div>
          <md-input-container class="md-block">
            <label>Start Time</label>
            <input ng-model="vm.event.startTime" type="time" placeholder="Start Time" ng-disabled="vm.event.startDate == undefined || vm.event.startDate == null">
          </md-input-container>
        </div>
        <div layout-gt-xs="row">
          <md-datepicker ng-model="vm.event.endDate" md-placeholder="End Date"
                         md-min-date="vm.event.startDate" name="endDate" style="background-color: white"></md-datepicker>
          <div ng-messages="addEventForm.endDate.$error"
               ng-show="addEventForm.$submitted || addEventForm.endDate.$dirty">
            <span ng-message="mindate">End date can't be before start date.</span>
          </div>
          <md-input-container class="md-block">
            <label>End Time</label>
            <input ng-model="vm.event.endTime" type="time" placeholder="End Time" ng-disabled="vm.event.endDate == undefined || vm.event.endDate == null">
          </md-input-container>
        </div>
        <md-switch ng-model="vm.event.isVisible" aria-label="Event visibility">
          Visible
        </md-switch>
        <div layout="row" layout-align="center center" class="validation-messages">
          <span ng-if="vm.isError">{{ vm.errorMessage }}</span>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="vm.cancel()">
        Cancel
      </md-button>
      <md-button type="submit" style="margin-right:20px;"
                 ng-disabled="addEventForm.$pristine
                 && addEventForm.$invalid"
                 class="md-primary">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
  <div layout="column" layout-align="center center" class="progress-circle-container" ng-if="vm.showProgress">
    <md-progress-circular md-mode="indeterminate" class="md-accent"></md-progress-circular>
  </div>
</md-dialog>
