@font-face {
  font-family: 'Geomanist Regular';
  src: url('../../styles/fonts/geomanist-regular-webfont.eot') format('embedded-opentype'),
  url('../../styles/fonts/geomanist-regular-webfont.woff') format('woff'),
  url('../../styles/fonts/geomanist-regular-webfont.ttf')  format('truetype'),
  url('../../styles/fonts/geomanist-regular-webfont.svg') format('svg');
}

body {
  font-family: "Geomanist Regular", 'Helvetica Neue', sans-serif;
}
