.navbar-default {
  min-height: 60px;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 0;

  .btn-menu {
    text-decoration: none;
    color: $primary-color-text;
    position: absolute;
    top: 17px;
    left: 10px;
  }

  .navbar-brand {
    color: $primary-color-text;
    padding-top: 18px;
    margin-bottom: 8px;
    font-size: 30px;
    &:hover,
    &:focus {
      color: $primary-color-text;
    }
  }

  .navbar-nav {
    li > a {
      padding-top: 0;
      padding-bottom: 0;
      line-height: 60px;
      color: $primary-color-text;
      &:hover,
      &.active,
      &:focus {
        color: $primary-color-text;
        background-color: $primary-color-dark;
      }
    }
    .active > a {
      background-color: $primary-color-dark;
      color: $primary-color-text;
      &:focus,
      &:hover {
        background-color: $primary-color-dark;
        color: $primary-color-text;
      }
    }
    .dropdown {
      &:hover {
        background-color: $primary-color-dark;
      }
    }
    .open > a {
      &:hover,
      &:focus {
        background-color: $primary-color-dark;
        color: $primary-color-text;
      }
    }
    .dropdown {
      .dropdown-menu {
        background-color: $primary-color;
        li {
          a {
            color: $primary-color-text;
            padding-top: 0;
            padding-bottom: 0;
            line-height: 35px;
            &:hover {
              background-color: $primary-color-dark;
            }
          }
        }
        > .active > a {
          background-color: $primary-color-dark;
          &:hover,
          &:focus {
            background-color: $primary-color-dark;
          }
        }
        &.active {
          background-color: $primary-color-dark;
        }
        .divider {
          background-color: $primary-color-dark;
        }
        > .dropdown-toggle:focus {
          color: $primary-color-text;
          background-color: $primary-color-dark;
        }
      }
    }
  }

  .navbar-form {
    padding-top: 6px;
    .form-group {
      display:inline-block;
      position:relative;
      > .form-control {
        width: 300px;
        margin-left: 10px;
        padding-right:30px;
      }
      > button {
        position:absolute;
        right:0;
        top:5px;
        > i {
          color: $primary-color;
        }
      }
    }
  }

  // TODO: fix margin issue with text box when visible
  .navbar-form-sm {
    > .form-control {
      position:absolute;
      top:0;
      left:0;
      margin:-1px;
      margin-right:0;
      width:100%;
      visibility: hidden;
      border-radius: 0;
      border: solid 2px #E0E0E0;
      padding: 28px 40px 28px 25px;
    }

    > .i-button {
      z-index: 1;
      cursor: pointer;
      text-decoration: none;
      color: $primary-color-text;
      position: absolute;
      top: 17px;
      right: 10px;
      &:hover,
      &:focus {
        color: $primary-color-text;
      }
    }
    &.focus {
      > .form-control {
        visibility: visible;
      }
      > #btn-search-sm {
        color: $primary-color;
      }
    }
  }
}

.side-nav {
  position: fixed;
  display: none;
  top:0;
  left: 0;
  min-height: 100%;
  background-color: $primary-color-text;
  .top {
    line-height: 60px;
    .btn-menu > i {
      color: $primary-color-dark;
      margin-top: 20px;
    }
  }
  > .nav {
    width:95%;
    padding: 0;
    li {
      list-style-type: none;
      position: relative;
      overflow: hidden;
      a {
        color: $primary-color-dark;
        font-size: 16px;
        display: block;
        text-decoration: none;
        padding: 15px 10px;
        &:hover {
          color: $primary-color-dark;
          background-color: #E0E0E0;
        }
      }
    }
    > .active > a {
      background-color: #E0E0E0;
      &:hover {
        background-color: #E0E0E0;
      }
      &:focus {
        background-color: #E0E0E0;
      }
    }
    .dropdown {
      padding-bottom:2px;
      > .dropdown-menu {
        margin-left:10px;
        box-shadow: 0 0 0 0;
        background-color: #E0E0E0;
        position: relative;
        border-radius: 0;
        border: 0;
        li {
          a {
            color: $primary-color-dark;
            padding-top: 0;
            padding-bottom: 0;
            line-height: 35px;
            &:hover {
              color: $primary-color-dark;
              background-color: $primary-color-text;
            }
          }
        }
        > .active > a {
          background-color: $primary-color-text;
          &:hover {
            background-color: $primary-color-text;
          }
          &:focus {
            background-color: $primary-color-text;
          }
        }
      }
    }
  }
}

// phones
@media (max-width: 767px) {
  .navbar-nav > li > a {
    line-height: 10px;
    padding-top: 5px;
    padding-bottom: 5px;}
}

// tablets
@media (max-width: 992px) {
  .navbar-brand {
    padding-left: 45px;
  }
}

.btn-menu {
  background-color: inherit;
  > i {
    cursor: pointer;
  }
}
