md-input-container > label, md-autocomplete.md-placeholder {
  color: #757575;
}

.auth-container {
  margin-top: 50px;

  .md-title {
  font-size: 36px;
  }


  //> div > md-card {
  //  > md-card-content.card-header {
  //    > md-header > form.md-title {
  //      background-color: red;
  //    }
  //  }
  //  > md-card {
  //    form {
  //      visibility: hidden;
  //    }
  //  }
  //}
}
