md-input-container > label, md-autocomplete.md-placeholder {
  color: #757575;
}

.auth-container {
  margin-top: 50px;

  .md-title {
    font-size: 36px;
  }
}

// https://github.com/angular/material/issues/4233
form {
  md-datepicker {
    position: relative;
    top: 15px;
    left: -16px;

    .md-datepicker-input-container {
      margin-left: 0;
    }
    .md-datepicker-button.md-icon-button {
      margin-right: 0;
    }
  }
}

.validation-messages {
  padding-top: 10px;
  > span {
    color: rgb(221,44,0);
    font-size: 12px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    opacity: 1;
    margin-top: 0;
    line-height: 14px;
  }
}
