// custom imports
@import "variables";
@import "navigation";


// sections
@import "venues";
@import "forms";
// end


body {
  height: 100%;
  width: 100%;
  font-family: $primary-font;
  font-weight: 300;
  margin:0;
  padding:0;
}

h1, h2, h3 {
  margin:0;
}

.search-toolbar {
  background-color: white;
}

// Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-28 { font-size: 28px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.avatar {
  max-width: 55px;
}

.md-primary-text {
  color: $primary-color;
}

.progress-circle-container {
  position: absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  z-index:10;
  background-color: rgba(255,255,255,0.35);
}

.md-tab {
  padding-left:40px;
  padding-right:40px;
}

.fixed {
  position: fixed;
}
.bottom {
  bottom: 20px;
}
.right {
  right:25px;
}

.social-icon {
  padding-left:10px;
  padding-right: 10px;
}
#facebook {
  height:40px;
}
#google-plus {
  height:43px;
}
#twitter {
  height:40px;
}
