// custom imports
@import "variables";
@import "components";
@import "forms";
@import "navigation";
@import "fonts";
@import "effects";
@import "yeoman-stuff";
@import "modals";
// end


html {
  height: 100%;
}

.search-toolbar {
  background-color: white;
}

html, body
{
  height: 100%;
}

// Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-28 { font-size: 28px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

