// custom imports
@import "variables";
@import "navigation";


// sections
@import "venues";
@import "forms";
// end


body {
  height: 100%;
  width: 100%;
  font-family: $primary-font;
  //font-weight: 300;
  margin:0;
  padding:0;
}

h1, h2, h3 {
  margin:0;
}

.search-toolbar {
  background-color: white;
}

// Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-28 { font-size: 28px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

md-icon {
  .md-36 {
  font-size: 36px;
  }
}

.md-whiteframe-1dp,
.md-whiteframe-2dp,
.md-whiteframe-3dp,
.md-whiteframe-4dp,
.md-whiteframe-5dp,
.md-whiteframe-6dp,
.md-whiteframe-7dp,
.md-whiteframe-8dp,
.md-whiteframe-9dp,
.md-whiteframe-10dp {
  background-color: white;
}

.avatar {
  max-width: 55px;
}

.md-primary-text {
  color: $primary-color;
}

.progress-circle-container {
  position: absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  z-index:10;
  background-color: rgba(255,255,255,0.35);
}

//.md-tab {
//  padding-left:40px;
//  padding-right:40px;
//}

.fixed {
  position: fixed;
}
.bottom {
  bottom: 20px;
}
.right {
  right:25px;
}

.social-icon {
  padding-left:10px;
  padding-right: 10px;
}
#facebook {
  height:40px;
}
#google-plus {
  height:43px;
}
#twitter {
  height:40px;
}

.md-dialog-content, md-dialog-actions {
  background-color: white;
}

md-datepicker.white {
  background: white;
}

.act-autocomplete, .venue-autocomplete {
  li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;

    :last-child {
      border-bottom-width: 0;
    }
  }
  .item-title, .item-subtitle {
    display: block;
    line-height: 2;
  }
  .item-subtitle {
    font-size: 12px;
    > md-icon {
      height: 18px;
      width: 18px;
    }
  }
}

.cards-row {
  md-card {
    width:215px;
    margin:12px;
    cursor: pointer;
    > img {
      width: 100%;
      height: 210px;
    }
    > md-card-content {
      p {
        font-size: 13px;
        color:#424242;
      }
    }
  }
  .event {
    width:230px;
    height:325px;
    > md-card-content {
      padding-top: 18px;
      > p > a {
        &:visited {
          color:#424242;
        }
      }
    }
  }
}

a.nice-link {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  &:hover, &:visited {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: underline;
  }
}

// https://github.com/angular/material/issues/6312
.md-select-value *:first-child {
  width: calc(100% - 24px);
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.profile-picture {
  img {
    width:125px;
    height: 125px;
    border-radius: 50%;
    border: 4px solid white;
  }
}

.page-container {
  margin: 0 auto;
  .backdrop-container {
    width: 948px;
    @media (max-width: 959px) {
      width: 100vw;
    }
    img {
      width: inherit;
      margin-top:-25px;
      border-radius: 5px;
    }
  }
  .backdrop-tools {
    margin-top:-100px;
    margin-left:10px;
    .profile-picture {
      > #upload-picture {
        margin: 5px 0 0 46px;
        position: absolute;
      }
    }
    .title {
      color: #eeeeee;
      margin-left:10px;
      > h1 {
        font-weight:600;
      }
      > h3 {
        font-weight: 400;
      }
    }
    .action-buttons {
      margin-top:35px;
      margin-right: 10px;
      .md-raised {
        padding: 3px;
      }
    }
  }
  .content-container {
    margin-top:30px;
    > .md-whiteframe-2dp {
      border-radius: 5px;
    }
  }
  &.event {
    .backdrop-tools {
      .title {
        margin-top:24px;
      }
    }
  }
  &.act, &.venue {
    .backdrop-tools {
      .title {
        margin-top:24px;
      }
    }
  }
}

md-card[md-ink-ripple] {
  position: relative;
}

*[ui-sref] {
  cursor: pointer;
}

.active {
  color: $accent-color;
}
