<div layout="column" layout-align="center center">

  <md-content class="md-padding autoscroll" layout="row" layout-fill="">

    <div flex=""><!-- filler --></div>
    <md-card flex-xs="90" flex-sm="60" flex-lg="35" flex-md="40" class="auth-container" layout-padding="">
      <md-card-content layout-align="center center" layout="column">
        <md-header>
          <span class="form md-title">Log In</span>
        </md-header>
        <md-card-content layout-fill="">
            <form name="loginForm" layout-align="center center" ng-submit="login(user)" novalidate>
              <md-input-container class="md-block">
                <label>Username (Required)</label>
                <input name="username" ng-model="user.username" ng-required="true">
                <div ng-messages="signupForm.username.$error" ng-show="signupForm.$submitted || signupForm.username.$dirty">
                  <span ng-message="required">Username is a required field!</span>
                </div>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Password (Required)</label>
                <input type="password" name="password" ng-model="user.password" password-strength ng-required="true">
                <div ng-messages="signupForm.password.$error" ng-show="signupForm.$submitted || signupForm.password.$dirty">
                  <span ng-message="required">Password is a required field!</span>
                </div>
              </md-input-container>
              <div layout="row" layout-align="center center">
                <md-button name="btnSubmit" type="submit" class="md-raised md-accent md-hue-1" layout-fill>Log In</md-button>
              </div>
            </form>
        </md-card-content>
      </md-card-content>
    </md-card>
    <div flex=""><!-- filler --></div>
  </md-content>
</div>
