<div layout="column" layout-align="center center">

  <md-content class="md-padding autoscroll" layout="row" layout-fill="">

    <div flex="35"><!-- filler --></div>
    <div flex-xs="90" flex-sm="60" flex="">
      <md-content layout-align="center center" layout="column" style="border-radius: 4px;">
        <md-content>
          <md-header>
            <span class="form md-title" style="font-size: 50px;">Sign Up</span>
          </md-header>
        </md-content>
        <md-content layout-fill="">
            <form name="signupForm" layout-align="center center">
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>First name</label>
                  <input ng-model="user.firstName">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Last Name</label>
                  <input ng-model="user.lastName">
                </md-input-container>
              </div>
              <md-input-container class="md-block">
                <label>Username (Required)</label>
                <input name="username" ng-model="user.username" username-exists ng-required md-maxlength="30" minlength="4">
                <div ng-messages="signupForm.username.$error" ng-show="signupForm.username.$dirty">
                  <span ng-message="required">Username is a required field!</span>
                  <span ng-message="usernameExists">This username is already in use!</span>
                  <span ng-message="md-maxlength">Username can't be more than 30 characters!</span>
                  <span ng-message="minlength">Username requires at least 4 characters!</span>
                </div>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Email (Required)</label>
                <input type="email" name="email" ng-model="user.email" email-exists ng-required minlength="4">
                <div ng-messages="signupForm.email.$error" ng-show="signupForm.email.$dirty">
                  <span ng-message="email">This is not a valid email!</span>
                  <span ng-message="required">This field cannot be left blank!</span>
                  <span ng-message="emailExists">This email is already in use!</span>
                  <span ng-message="minlength">Email requires at least 4 characters!</span>
                </div>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Password (Required)</label>
                <input type="password" name="password" ng-model="user.password" email-exists ng-required password-strength>
                <div ng-messages="signupForm.password.$error" ng-show="signupForm.password.$dirty">
                  <span ng-message="required">Password is a required field!</span>
                  <span ng-message="passwordStrength">This password is not strong enough!</span>
                </div>
                <md-tooltip>
                  Password should be a minimum of 8 characters, with at least one digit, one letter and one special character.
                </md-tooltip>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Country</label>
                <md-select ng-model="user.country" ng-change="countryValueChanged(user.country)">
                  <md-option ng-repeat="country in countries" value="{{country.id}}">
                    {{country.niceName}}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label>County</label>
                <md-select ng-model="user.county" ng-disabled="!counties">
                  <md-option ng-repeat="county in counties" value="{{county.id}}">
                    {{county.name}}
                  </md-option>
                </md-select>
              </md-input-container>
            </form>
        </md-content>
      </md-content>
    </div>
    <div flex="35"><!-- filler --></div>

  </md-content>
</div>
